.lower
  .info#connecting< Connecting
  .info#unable-to-connect< Unable to connect
  .info#disconnected< Disconnected
  .info#logging-in< Logging in
  .info#waiting-to-start< Waiting to start
  .info#starting-in< Starting in 10 seconds
  .info#running< Running
  .info#done< Done
  .info#found< Found!
  .info#not-found< Not found

.upper
  = button_tag "Connect", class: "btn btn-primary btn-xl action", id: "connect"
  = button_tag "Disconnect", class: "btn btn-danger btn-xl action", id: "disconnect"

.middle
  .info#turn-phone-around< Turn your screen to face the conductor and hold still!
  = button_tag "Locate Me", class: "btn btn-success btn-xl action", id: "locate-me"

.fullscreen#torch-on
.fullscreen#torch-off

:javascript
  new PlayerBuilder().build("ws://192.168.0.10:8080", 500, 5);
