body {
  background: #303D74;
  color: white;
}

.fullscreen {
  position:   fixed;
  top:        0;
  left:       0;
  bottom:     0;
  right:      0;
  overflow:   auto;
}

#torch-on {
  background: white;
}

#torch-off {
  background: black;
}
